{% import _self as macros %}
{% extends 'base.twig' %}

{% block content %}

    <h1>
        <a href="https://www.wikidata.org/wiki/{{ work.id }}" title="View on Wikidata">
            <img src="https://www.wikidata.org/static/images/project-logos/wikidatawiki.png" height="30" /></a>
        {{ work.title }}
        <small>{{ work.editions|length }} edition{% if work.editions|length != 1 %}s{% endif %}</small>
    </h1>
    <p>
        {% if work.authors %}
            By {% for author in work.authors %}
                <a href="{{ route('item', author.id) }}">{{ author.title }}</a>{% if loop.last %}.{% else %},{% endif %}
            {% endfor %}
        {% endif %}
        {% if work.publicationYear %}
            First published {{ work.publicationYear }}.
        {% elseif editions.0.publicationYear %}
            First known edition published {{ editions.0.publicationYear }}
        {% endif %}
    </p>

    <div class="row">
        <div class="col-md-12">

            {% if work.wikipediaIntro %}
            {#<img src="https://{{ lang }}.wikipedia.org/static/images/project-logos/{{ lang }}wiki.png" class="pull-right" />#}
            {{ work.wikipediaIntro.html|raw }}
            <p><em><a href="https://{{ lang }}.wikipedia.org/wiki/{{ work.wikipediaIntro.title }}">Read more on Wikipedia&hellip;</a></em></p>
            {% endif %}

        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">
                {#{% for prop in work.standardProperties('work') %}#}
                {#<dt>{{ prop.title }}</dt>#}
                {#<dd></dd>#}
                {#{% endfor %}#}
            </dl>
        </div>
    </div>

    <h2>Editions</h2>
    {% if not work.editions %}
        <p>No editions found. That can't be right!</p>
    {% endif %}
    {% for edition in work.editions %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="https://www.wikidata.org/wiki/{{ edition.id }}" title="View this edition on Wikidata">
                <img src="https://www.wikidata.org/static/images/project-logos/wikidatawiki.png" height="18" /></a>
            {{ edition.title }}
            {% if edition.publicationYear %}({{ edition.publicationYear }}){% endif %}
        </div>
        <div class="panel-body">
            <div class="row">
                {% if edition.images %}
                    <div class="col-md-3">
                    {% for image in edition.images %}<img src="{{ image }}" />{% endfor %}
                    </div>
                {% endif %}

                <div class="col-md-3">
                    {% if edition.publishers %}
                    <ul class="list-inline">
                        <li><em>Published by:</em></li>
                        {% for pub in edition.publishers %}
                            <li>{{ pub.title }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="col-md-3">
                    {% if edition.wikisourceLink %}
                        <p>
                            <a href="{{ edition.wikisourceLink.url }}" class="btn btn-default">Read on Wikisource</a>
                        </p>
                        <p>
                            <a href="https://tools.wmflabs.org/wsexport/tool/book.php?lang={{ edition.wikisourceLink.lang }}&format=epub-3&page={{ edition.wikisourceLink.title }}"
                               title="Download Epub" class="btn btn-default">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/EPUB_silk_icon.svg/25px-EPUB_silk_icon.svg.png" alt="Epub icon" />
                            Download Epub
                            </a>
                        </p>
                        <p>
                            <a href="https://tools.wmflabs.org/wsexport/tool/book.php?lang={{ edition.wikisourceLink.lang }}&format=pdf-a5&page={{ edition.wikisourceLink.title }}" title="Download PDF" class="btn btn-default">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Pdfreaders-f.svg/25px-Pdfreaders-f.svg.png" alt="PDF icon" />
                            Download PDF
                            </a>
                        </p>
                    {% endif %}
                </div>

                <div class="col-md-3">
                    {% if edition.wikisourceIndexPages %}
                        <p>On Wikisource:</p>
                        <ul>
                        {% for indexPage in edition.wikisourceIndexPages %}
                            <li><a href="{{ indexPage }}">{{ indexPage }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if edition.internetArchiveIds %}
                        <p>On the Internet Archive:</p>
                        <ul>
                            {% for ident in edition.internetArchiveIds %}
                                <li>
                                    <a href="https://archive.org/details/{{ ident.value }}">{{ ident.value }}</a>
                                    (<a href="https://tools.wmflabs.org/ia-upload/commons/init?iaId={{ ident.value }}">upload to Commons</a>)
                                    {% if ident.qualifiers %}<br />{% endif %}
                                    {% for type,quals in ident.qualifiers %}
                                        {{ type }}: {% for q in quals %}{{ q }}{% endfor %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>

                
            </div>

            <!-- LibraryThing work identifier -->
            {% if work.claims.P577 %}
            <p>
                {{ attribute(work.P1085_metadata.labels, lang).value }}:
                {% for ms in work.claims.P1085 %}
                    <a href="">{{ ms.mainsnak.datavalue.value }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            {% endif %}

        </div>
    </div>
    {% endfor %}

{% endblock %}
